<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>About | Online learning</title>
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
</head>
<body>
<div id="container">
    <div id="masthead">
        <a href="index.html"><h1 id="logo"></h1></a>
        <ul id="sitemenu">
            <li><a class="siteabout std" href="about.html" title="About Online Learning">About</a></li>
            
            <li><a class="std" href="login.html" title="Login to Online Learing">Login</a></li>
            
            <li><a class="std" href="logOn.html" title="Login to Online Learing">SignUp</a></li>
        </ul>
    
    </div>
    <div id="content">
        <br>
        <p id="about">Online Learning system features learning designed specifically for interactive study via the web.  Our goal is for students to quickly access the exact clips they need in order to learn individual concepts. Along with offering online courses, the institutions will use online learning system to research how students learn and how technology can transform learning–both on-campus and worldwide</p>
        </div>
    </div>
</body>
</html>
