extends layout

block content
	.content
		br
		p#about
			Online Learning system features learning designed specifically for interactive study via the web.  Our goal is for students to quickly access the exact clips they need in order to learn individual concepts. Along with offering online courses, the institutions will use online learning system to research how students learn and how technology can transform learning–both on-campus and worldwide
		
