extends layout

block content
	div#container
		div#content
			div.banner
				div.banner1
				div.space
				div.wall
					div.board
					br
					br
					br
					br
					br
				table.table
					tr
						td
							div.page_curl
